doctype html
html
	head
		title Tareas
	body
		form(action ="/sesiones" method="POST")
				input(type="email" name="email" placeholder="Correo")
				input(type="password" name="password" placeholder="Contraseña")
				input(type="submit" value="Inicar Sesion")
