doctype html
html
	head
		title Tareas
	body
		form(action="/categorias" method="POST")
			textarea(name="title" placeholder="Coloca el titulo")
			input(type="color" name="color")
			input(type="submit" value="Guardar Categoria")